LETSENCRYPT_HOST=hashi.domain
LETSENCRYPT_EMAIL=contact@hashi.domain
VIRTUAL_HOST=hashi.domain
VIRTUAL_PORT=8182
ALLOWED_HOSTS=hashi.domain
STATIC_ROOT=/hashi/static/
STATIC_URL=https://static.hashi.domain/
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
SECRET_KEY=a_secret_key
