LETSENCRYPT_HOST=hashi.domain
LETSENCRYPT_EMAIL=contact@hashi.domain
VIRTUAL_HOST=hashi.domain
VIRTUAL_PORT=8182
ALLOWED_HOSTS=app.production.domain
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
SECRET_KEY=a_secret_key
RQ_QUEUES_HOST=hashi-redis
RQ_QUEUES_PORT=6379
RQ_QUEUES_PASSWORD=a_password
RQ_QUEUES_DEFAULT_TIMEOUT=360
