{% extends "base.html" %}

{% block main %}

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Value</th>
      <th>Description</th>
      <th>Account</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.date }}</td>
      <td>{{ entry.value }}</td>
      <td>{{ entry.description }}</td>
      <td>{{ entry.account.name }}</td>
      <td>{{ entry.tags }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No entries found!</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
