{% extends "base.html" %}

{% block content-main %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Value</th>
              <th>Description</th>
              <th>Account</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
            <tr>
              <td>{{ entry.date }}</td>
              <td>
                <span class="{{ entry.get_type_display|lower }}">
                  {% if entry.get_type_display == "EXPENSE" %}-{% endif %}{{ entry.value }}
                </span>
              </td>
              <td>{{ entry.description }}</td>
              <td>
                <span class="badge bg-danger">{{ entry.account.name }}</span>
              </td>
              <td>
                {% for tag in entry.tags.all %}
                  <span class="badge bg-success">{{ tag.name }}</span>
                {% endfor %}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">No entries found!</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td>
                <span class="text-success">+{{ total_income }}</span><br/>
                <span class="text-danger">-{{ total_expense }}</span>
              </td>
              <td colspan="3">
                {% if balance < 0 %}
                  <strong><span class="text-danger">{{ balance }}</span></strong>
                {% else %}
                  <strong><span class="text-success">{{ balance }}</span></strong>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock %}
